{{ define "footer" -}}

            {{/*  sidebar content */}}
            </div> 
            <div class="drawer-side">
            <label for="my-drawer-3" class="drawer-overlay"></label> 
            <ul class="menu p-4 overflow-y-auto w-80 bg-base-100">
                <!-- Sidebar content here -->
                <li><a href="/">Home</a></li>
                <li><form action="/search" method="post"><input type="text" name="artist" placeholder="Find artist" class="input input-bordered input-primary w-full max-w-xs" /></form></li>
                
                
            </ul>

            </div>
        </div>
    </body>
</html>


{{ end }}