{{ define "header" -}}

    <!DOCTYPE html>
    <html lang="en" >

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
        <link rel="manifest" href="static/favicon/site.webmanifest">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
        <link rel="stylesheet" href="static/css/index.css">

        <title> {{ . }} </title>
    </head>

    <body>
        <div class="drawer">
            <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
            <div class="drawer-content flex flex-col">
                <!-- Navbar -->
                <div class="w-full navbar bg-base-300">
                <div class="flex-none lg:hidden">
                    <label for="my-drawer-3" class="btn btn-square btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                    </label>
                </div> 
                <div class="flex-1 px-2 mx-2">Spotify 2018 Top 100</div>
                <div class="flex-none hidden lg:block">
                    <ul class="menu menu-horizontal">
                    <!-- Navbar menu content here -->
                    <li><a href="/">Home</a></li>
                    <li><form action="/search" method="post"><input type="text" name="artist" placeholder="Find artist" class="input input-bordered input-primary w-full max-w-xs" /></form></li>
                    </ul>
                </div>
                </div>
    
{{ end }}